/*  _blocks.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

div.content.blocks
	width: 100%
	padding-bottom: 66px

div.block
	margin-top: 100px
	margin-bottom: 100px

div.block.ahuva
	max-height: 700px
	margin-top: 0

div.block.bahira
	div.wrapper
		+flex
		width: 100%
		max-width: 1130px
		margin: 0 auto

		+medium
			max-width: 900px

		div.text
			flex: 0 0 430px
			max-height: 350px
			overflow: hidden

			+medium
				flex: 0 0 350px
				max-height: 450px

		div.gallery-wrapper
			flex: 0 0 624px

			+medium
				flex: 0 0 500px
			
			div.gallery
				+flex( $d: nowrap )
				max-width: 624px

				+medium
					max-width: 500px


div.block.calypso
	margin-top: 145px

	> div.wrapper
		+flex( $c: center )
		width: 100%
		max-width: 1130px
		margin: 0 auto

		div.text
			flex: 0 0 430px

		div.image-wrapper
			flex: 0 0 624px

		div.single.image
			max-width: 100%


div.block.dagmar
	> div.wrapper
		+flex( $b: flex-start, $c: center )
		width: 100%
		max-width: 1130px
		margin: 0 auto

	div.single.image
		flex: 0 0 33%
		min-width: inherit
		max-width: 373px
		max-height: 249px
		margin-bottom: 5px

	div.single.image:nth-child( 3n + 2 )
		margin-left: 5px
		margin-right: 5px

div.block.eada

	div.wrapper
		width: 100%
		max-width: 1130px
		margin: 0 auto

		h2,
		h3,
		h4,
		h5,
			max-width: 750px

		p
			max-width: 525px


div.block.fatima
	> div.wrapper
		width: 100%
		max-width: 1135px
		margin: 0 auto

	div.repeater
		+flex
		padding-top: 45px
		padding-bottom: 45px

	div.image.wrapper
		flex: 0 0 568px

	div.text.wrapper
		flex: 0 0 45%
		height: 379px
		position: relative

		p
			padding-top: 0

		div.links
			position: absolute
			bottom: 0
			left: 0

			a:first-of-type
				&:before
					position: absolute
					top: 0
					left: 0
					width: 75px
					height: 1px

			a
				display: block
				margin-top: 15px


	div.repeater:nth-child( 2n )
		div.image.wrapper
			order: 2



div.block.gamila,
div.block.hadrea
	div.image.wrapper
		+flex
		width: 100%
		max-width: 1135px
		margin: 0 auto

	div.repeater
		position: relative
		flex: 0 0 560px

	div.repeater:nth-child( 2n )
		margin-left: auto



div.block.ilma
	> div.wrapper
		+flex
		width: 100%
		max-width: 1130px
		margin: 0 auto

		div.image.wrapper
			flex: 0 0 50%
			max-width: 573px

			span.overlay
				display: block
				width: 200px
				left: calc( 50% - 100px )

			span.overlay.one
				top: calc( 50% - 41px + 210px )

		div.text
			flex: 0 0 45%

			p
				position: relative

div.block.sitemap
	> div.wrapper
		width: 100%
		max-width: 1130px
		margin: 0 auto


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

div.content.blocks
	border-bottom: 6px solid $lime

div.block.calypso
	div.single.image
		border: 6px solid $grey

div.block.ilma
	span.overlay
		text-align: center

div.block.fatima
	div.repeater
		border-bottom: 1px solid $grey

	p
		border-top: none

	div.links
		a:first-of-type
			&:before
				content: ""
				background-color: $grey
		a
			@extend %BodyLink
			color: $olive
			&:hover
				color: $lime

div.block.dagmar
	div.single.image
		cursor: pointer
