/*  _components.sass */
/* Components being used globally */

=box( $color: $olive, $hover: $lime ) 
	border: 1px solid $color
	padding: 10px
	&:hover
		border-color: $hover
		a
			color: $hover
	a
		color: $color


