/*  _foot.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

footer#foot
    width: 100%
    padding: 48px 56px 13px

    div.bar
        +flex
        width: 100%

    div.main.bar
        margin-bottom: 33px
        div.flank
            +flex( $c: center)

    div.left.flank
        div.logo
            margin-right: 22px

            svg
                width: 74px
                height: 74px

        div.address
            span.line.one,
            span.line.four
                display: block

            span.line.two
                position: relative
                padding-right: 10px
                &:after
                    content: "•"
                    position: absolute
                    top: -2px
                    right: 5px
                    width: 5px
                    height: 100%

            span.line.four
                position: relative
                padding-top: 10px
                &:before
                    content: ""
                    position: absolute
                    top: 4px
                    left: 0
                    height: 1px
                    width: 10px
                    background-color: $olive

    div.right.flank
        div.sitemap.links
            width: 230px
            margin-right: 20px
            margin-left: 10px
            +col( $b: 20px )

        div.box
            padding: 5px

        div.social.links
            div.availability
                margin-bottom: 14px

            div.social.items
                width: 121px
                margin: 0 auto
                div.item
                    margin-right: 0

    div.sub.bar
        margin-top: 13px
        padding-top: 13px
        div.flank
            +flex

        div.static.items
            +flex
            width: 250px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

footer#foot
    @extend %FooterText
    color: $olive
    background-color: $cream
    text-transform: uppercase

    a
        &:hover
            color: $lime

    
    div.main.bar
        div.right.flank
            border-left: 1px solid $olive

        div.sitemap.links
            -webkit-column-rule: 1px solid $olive
            -moz-column-rule: 1px solid $olive 
            column-rule: 1px solid $olive

    div.sub.bar
        @extend %FooterSubText
        border-top: 1px solid $grey

