/* Colors */
$black: #000
$olive: #32553b
$lime: #62a044
$navy: #0c3547
$cream: #f4f1ef 
$grey: #b7b7b7
$white: #fff

/* Typefaces */
%GothamBook
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
    font-style: normal
    font-weight: 400
    text-transform: uppercase

%GothamMedium
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
    font-style: normal
    font-weight: 500
    text-transform: uppercase

%GothamBold
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif
    font-style: normal
    font-weight: 700
    text-transform: uppercase

%SentinelBook
    font-family: "Sentinel A", "Sentinel B", serif 
    font-style: normal
    font-weight: 400

%SentinelSemiBoldItalic
    font-family: "Sentinel A", "Sentinel B", serif
    font-style: italic
    font-weight: 600

%SentinelBlack
    font-family: "Sentinel A", "Sentinel B", serif
    font-style: normal
    font-weight: 800


/* Font Styles */
%MainHead                  
    @extend %SentinelSemiBoldItalic
    font-size: 2.3rem
    line-height: 2.87rem

%AltHead
    @extend %GothamBold
    font-size: 1.87rem
    line-height: 2.81rem

%MainSubHead
    @extend %GothamMedium
    font-size: 1.12rem
    line-height: 1.87rem
    letter-spacing: 0.1em

%MainBody
    @extend %SentinelBook
    font-size: 1rem
    line-height: 1.87rem

%BodyBold
    @extend %SentinelSemiBoldItalic
    font-size: 1.12rem

%BodyLink
    @extend %GothamMedium
    font-size: 0.75rem
    line-height: 0.87rem   
    letter-spacing: 0.1em  

%NavText
    @extend %GothamMedium
    font-size: 0.62rem
    line-height: 0.75rem
    letter-spacing: 0.1em   

%FooterText
    @extend %GothamMedium
    font-size: 0.62rem
    line-height: 1.12rem
    letter-spacing: 0.1em       

%FooterSubText
    @extend %GothamBook
    font-size: 0.44rem
    line-height: 0.56rem
    letter-spacing: 0.1em       

%MenuLink
    @extend %GothamBold
    font-size: 1.67rem
    line-height: 3.12rem   
    letter-spacing: 0.1em

%MenuText
    @extend %GothamMedium
    font-size: 0.75rem
    line-height: 1.12rem   
    letter-spacing: 0.1em

%SubNavText
    @extend %SentinelSemiBoldItalic
    font-size: 1.87rem
    line-height: 2.81rem   

%SubNavTab
    @extend %GothamBook
    font-size: 0.75rem
    line-height: 0.87rem   
    letter-spacing: 0.1em  

%SubNavLink
    @extend %GothamBook
    font-size: 0.62rem
    line-height: 0.75rem   
    letter-spacing: 0.1em  

%FormText
    @extend %GothamMedium
    font-size: 0.62rem
    line-height: 0.75rem   
    letter-spacing: 0.1em  

%FormFillText
    @extend %SentinelBook
    font-size: 1rem
    line-height: 1.87rem   

%FilterText
    @extend %GothamMedium
    font-size: 0.62rem
    line-height: 0.75rem   
    letter-spacing: 0.1em  

%FilterText
    @extend %GothamBold
    font-size: 0.75rem
    line-height: 0.87rem   
    letter-spacing: 0.1em  

%FPTitle
    @extend %GothamBold
    font-size: 1.25rem
    line-height: 2.06rem   
    letter-spacing: 0.1em  

%FPData
    @extend %GothamBold
    font-size: 0.93rem
    line-height: 1.25rem   
    letter-spacing: 0.1em  

%IndvFPTitle
    @extend %SentinelSemiBoldItalic
    font-size: 2.37rem
    line-height: 2.37rem
    text-transform: capitalize

%IndvFPCode
    @extend %GothamBold
    font-size: 0.93rem
    line-height: 0.93rem   
    letter-spacing: 0.1em  

%IndvFPBody
    @extend %GothamMedium
    font-size: 0.63rem
    line-height: 1.12rem   
    letter-spacing: 0.1em  

%MapTitle
    @extend %SentinelBook
    font-size: 1rem
    line-height: 1.25rem   
    letter-spacing: 0.1em  

%MapData
    @extend %GothamMedium
    font-size: 0.5rem
    letter-spacing: 0.93rem  

%OverlayText
    @extend %SentinelBlack
    font-size: 3.18rem
    line-height: 5.18rem  

%SiteMapHead
    @extend %GothamMedium
    font-size: 0.62rem
    line-height: 1.12rem   
    letter-spacing: 0.1em  

%SiteMapLink
    @extend %GothamBold
    font-size: 1.25rem
    line-height: 2.5rem   
    letter-spacing: 0.1em  

