/* Resets & Tools */

@import 'reset'

@import 'mixins'

@import 'variables'


/* SITE CONTEXT -> Global styles */

h1, h2, h3, h5, a
    color: $olive

a
    transition: 0.2s color ease

p


html 
    font-size: 16px
    box-sizing: border-box
    background-color: $olive
    +tiny
        font-size: 14px


*, *:before, *:after
    box-sizing: inherit

body
    opacity: 0
    transition: 0.5s opacity cubic-bezier(0.39, 0.575, 0.565, 1)
    background-color: $white
    position: relative

div.root
    position: relative

body.fade
    opacity: 1

body.lock
    overflow: hidden

img
    width: 100%
    box-sizing: border-box


/* Styles ... */


@import "components"

@import "head"

@import "menu"

@import "blocks"

@import "floorplan"

@import "foot"



